$color: #2d2d2d;
$color-green: #5cc4cc;
$white: #ffffff;
$line-bg: #888888;
$feedbsck-bg: #ebebeb;
$head-shadow: rgba(0, 0, 0, 0.3);
$text-shadow: rgba(0, 0, 0, 0.7);
$text-bg: rgba(0, 0, 0, 0.47);
$range-after-bg: #e8e8e8;
$handle-after-bg: #136c72;
$footer-bg: #d0d0d0;
