.conditions .container {
  position: relative;
  padding-top: 182px;
  margin-bottom: 93px;
  background-image: url("../img/conditions-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.conditions {

  &__title {
    position: relative;
    top: 4px;
    color: $color-green;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 54px;
    line-height: 1.1;
    text-transform: uppercase;
    text-shadow: 0 3px 5px $text-shadow;
    max-width: 756px;
    text-align: center;
    letter-spacing: -1.4px;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 7px;
  }

  &__text {
    position: relative;
    top: 4px;
    max-width: 598px;
    color: $white;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.45px;
    text-align: center;
    margin: 0 auto;
    padding: 18px 40px 20px 44px;
    background-color: $text-bg;
  }

  &__form {
    position: relative;
    max-width: 1087px;
    margin: 0 auto;
    padding: 17px 35px 18px 34px;
    background-color: $color-green;
    bottom: -55px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 41px;

    }

    &::before {
      bottom: 0;
      border: 55px solid transparent;
      border-top: 0 solid $handle-after-bg;
      border-right: 27px solid $handle-after-bg;
      left: -81px;
    }

    &::after {
      bottom: 0;
      border: 55px solid transparent;
      border-top: 0 solid $handle-after-bg;
      border-left: 28px solid $handle-after-bg;
      right: -83px;
    }
  }

  &__form .row {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  &__form-item {
    padding-right: 0;
    padding-left: 0;
    max-width: 187px;

    &--view {
      max-width: 205px;
    }
  }

  &__form-item label {
    color: $white;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
  }

  &__form-item input {
    font-size: 14px;
    border: none;
    width: 100%;
  }

  &__form-field {
    width: 187px;
    padding: 0 7px 19px;
    background-color: $white;
  }

  &__form-field input {
    padding: 12px 0 16px;
    text-align: center;
  }

  &__form-item--phone input {
    text-align: left;
    padding: 25px 0 26px 12px;
  }

  &__form-item--btn button {
    color: $color-green;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", "Arial", sans-serif;
    border: none;
    border-radius: 18px;
    background-color: $white;
    padding: 11px 30px 10px 30px;
    transform: translateY(114%);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: inset 0 -2px 5px 0 $color-green;
    }

    &:active {
      box-shadow: inset 0 -2px 5px 0 $color-green;
      background-color: $head-shadow;
      color: $white;
    }
  }
}

.jq-selectbox {
  padding: 10px 20px 12px 13px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 94% 15px;
  height: 68px;
  font-size: 14px;
  line-height: 1.1;
  border: none;
  width: 203px;
  
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.jq-selectbox__select-text {
   white-space: normal;
}

:-ms-lang(x),
.conditions__title {
  max-width: 765px;
}

.ui-widget-content {
  background-color: $range-after-bg;
}

.ui-widget-header {
  background-color: $color-green;
  border-radius: 0;
}

.ui-widget.ui-widget-content {
  background-color: none;
}

.ui-slider-horizontal .ui-slider-handle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  top: -0.8em;
}

.ui-slider-horizontal .ui-slider-handle::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 0.55em;
  left: 0.55em;
  background-color: $handle-after-bg;
  border-radius: 50%;
}

.ui-slider-horizontal {
  height: 4px;
  border-radius: 0;
}

.ui-widget.ui-widget-content {
  border: none;
}

@media (min-width: 320px) and (max-width: 536px) {

  .conditions { 

    & .container {
      background-position: -500px;
      padding-top: 154px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      margin-bottom: 0;
      padding: 18px 15px 19px 15px;
    }

    &__form {
      min-height: 440px;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;

      &::before,
      &::after {
        display: none;
      }
    }

    &__form-field {
      width: 100%;
    }

    &__form-item {
      width: 100%;
      margin-bottom: 10px;
      max-width: 100%;

      &--phone input {
        text-align: center;
      }

      &--btn button {
        transform: translateY(34%);
      }
    }

    & select {
      text-align-last: center;
      text-align: center;
    }
  }

  .jq-selectbox { 
    width: 100%;
  }
}

@media (min-width: 537px) and (max-width: 768px) {

  .conditions {
    margin-bottom: 100px;
 

    & .container {
      background-size: unset;
      background-position: -150px 0;
      max-width: none;
    }

    &__form {
      text-align: center;

      &::before,
      &::after {
        display: none;
      }
    }

    &__form-field {
      width: 203px;
    }

    &__title {
      font-size: 32px;
    }

    &__form-item {
      width: 203px;
      max-width: 203px;
      margin-right: 10px;
      margin-bottom: 15px;

      &--btn {
        width: 100%;
        margin: 0 auto;
      }

      &--btn button {
        display: inline-block;
        transform: translateY(24%);        
      }

      &--phone input {
        text-align: center;
        width: 203px;
        padding-left: 0;
      }
    }

    & select {
      text-align-last: center;
      text-align: center;
    }
  }

  .jq-selectbox {
    background-position: 94% 45px;
  }
}

@media (min-width: 728px) and (max-width: 768px) {
  .conditions__form-item--btn button {
    transform: translateY(114%);
  }
}

@media (min-width: 738px) and (max-width: 768px) {
  .conditions__form-item--btn {
    margin: 0;
  }
}

@media (min-width: 769px) and (max-width: 992px) {

  .conditions { 

    & .container {
      max-width: none;
      padding-left: 28px;
      padding-right: 28px;
    }

    &__form {
      text-align: center;
    }

    &__form-field {
      width: 203px;
    }

    &__form-item {
      margin-bottom: 15px;
      margin-right: 10px;
      width: 203px;
      max-width: 203px;

      &--btn button {
        display: inline-block;
        margin-bottom: 20px;
        width: 203px;
      }

      &--phone input {
        text-align: center;
        width: 203px;
        padding-left: 0;
      }
    }
  }
}


@media (min-width: 993px) and (max-width: 1230px) {

  .conditions {

    & .container {
      max-width: none;
      padding-left: 28px;
      padding-right: 28px;
    }

    &__form-item {
      margin-bottom: 15px;
      margin-right: 10px;
      width: 203px;
      max-width: 203px;
      text-align: center;

      &--btn button {
        margin-bottom: 30px;
        max-width: 203px;
        width: 203px;
      }

      &--phone input {
        text-align: center;
        width: 203px;
        max-width: 203px;
        padding-left: 0;
      }
    }
  }
}